.calendar-th, .calendar-td {
    padding:5px;
    width:120px;
}
.calendar-div {
    width: 150px;
}
.calendar-th {
    background:#00B0F0;
}
.calendar-tr + .calendar-tr .calendar-th, .calendar-tbody .calendar-th {
    background:#DAEEF3;
}
.calendar-tr + .calendar-tr, .calendar-tbody {
    text-align:left
}
.calendar-table, .calendar-th, .calendar-td {
    border:solid 1px;
    border-collapse:collapse;
    table-layout:fixed;
}
.calendar-th-month {
    background: palevioletred;
}
